/* Form Styles */
#form {
    margin: 30px auto;
    width: 400px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#form input[type="text"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

#form #buttons {
    text-align: center;
}

#form button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form button:hover {
    background-color: #45a049;
}

/* Entry Styles */
.entry {
    margin: 20px auto;
    margin-left: 350px;
    width: 800px;
    padding: 15px;
    background-color: #fff;
    display: inline-flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.entry span {
    display: inline-block;
    width: 25%;
    padding: 5px;
}

.entry p {
    margin: 5px 0;
    font-weight: bold;
    color: #333;
}

/* 
.entry-action{
    position: relative;
    left:100px;
} */

/* Products in div1 and a */
#div1 {
    margin: 17px;
    display: flex;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#div1 span {
    display: inline-block;
    width: 25%;
    padding: 10px;
    border-right: 1px solid #ddd;
}

#div1 span:last-child {
    border-right: none;
}

#div1 p {
    margin: 0;
    color: #333;
}

#div1 button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#div1 button:hover {
    background-color: #45a049;
}
