body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4c89af;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

#logoutBtn{
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header h1 {
    margin: 0;
}

#cartItems {
    margin: 20px;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-item p {
    margin: 5px 0;
}

.plusBtn,
.minusBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.plusBtn:hover,
.minusBtn:hover {
    background-color: #45a049;
}
.deleteBtn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
